
<%@ page import="es.ua.expertojava.todo.Todo" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'todo.label', default: 'Todo')}" />
		<title><g:message code="default.list.label" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#list-todo" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
				<li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
				<li><a class="list" href="${createLink(uri: '/todo/showCategories')}">Filtrar por categorías</a></li>
			</ul>
		</div>
		<div id="list-todo" class="content scaffold-list" role="main">
			<h1><g:message code="default.list.label" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
				<div class="message" role="status">${flash.message}</div>
			</g:if>
			<table>
			<thead>
					<tr>
						<th></th>

						<g:sortableColumn property="title" title="${message(code: 'todo.title.label', default: 'Title')}" />
					
						<g:sortableColumn property="date" title="${message(code: 'todo.date.label', default: 'Date')}" />
					
						<th><g:message code="todo.category.label" default="Category" /></th>

						<g:sortableColumn property="completed" title="${message(code: 'todo.completed.label', default: 'Completed')}" />

						<!--<g:sortableColumn property="url" title="${message(code: 'todo.url.label', default: 'Url')}" />-->
					
						<!--<g:sortableColumn property="reminderDate" title="${message(code: 'todo.reminderDate.label', default: 'Reminder Date')}" />-->
					</tr>
				</thead>
				<tbody>
				<g:each in="${todoInstanceList}" status="i" var="todoInstance">
					<tr class="${(i % 2) == 0 ? 'even' : 'odd'}">

						<!--ejercicio 4.8.1: añadimos una nueva columna a la izquierda de cada tarea para mostrar la opción de editar y borrar-->
						<td>
							<g:form url="[resource:todoInstance, action:'delete']" method="DELETE">
								<div class="buttons listaTodo">
									<g:link class="edit" action="edit" resource="${todoInstance}"><g:message code="default.button.edit.label" default="Edit" /></g:link>
									<g:actionSubmit class="delete" action="delete" value="${message(code: 'default.button.delete.label', default: 'Delete')}"
													onclick="return confirm('${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}');" />
								</div>
							</g:form>
						</td>
					
						<td><g:link action="show" id="${todoInstance.id}">${fieldValue(bean: todoInstance, field: "title")}</g:link></td>

						<td><g:formatDate date="${todoInstance.date}" /></td>
					
						<td>${fieldValue(bean: todoInstance, field: "category")}</td>

						<!--ejercicio 4.8.2: sustituimos la etiqueta creada mediante scafolding por la solicitada-->
						<!--<td><g:formatBoolean boolean="${todoInstance.completed}" /></td>-->
						<td><todo:printIconFromBoolean value="${todoInstance.completed}"/></td>

						<!--<td>${fieldValue(bean: todoInstance, field: "url")}</td>-->
					
						<!--<td><g:formatDate date="${todoInstance.reminderDate}" /></td>-->
					</tr>
				</g:each>
				</tbody>
			</table>
			<div class="pagination">
				<g:paginate total="${todoInstanceCount ?: 0}" />
			</div>
		</div>
	</body>
</html>
